.news-block {
  width: 100%;
}
.news-block__wrapper {
  display: flex;
  margin-top: 99px;
}
.news-block__inner {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  width: 100%;
}
.nav-list-span {
  display: block;
  max-width: 500px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
